.row{
	
	display:flex;
	flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
	padding: 15px 0;
	>

		.small{
            color: $secondary-text;
			flex:0 1;

            .song-icon{
				width: 48px;
				height: 48px;
                border-radius: 50%;
				margin-right: 15px;
            }
		}
		.big{
            color: $primary-text;
			flex:1 1;
		}
}
.songTitle{
	color:#fff;
    width: 100%;
    .small{
		color:$secondary-text;
		font-size:0.8em;
        margin-top: 5px;
	}
}