.searchBox {
	display: flex;
	border-radius: 20px;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 48px;
	background:  rgba(0, 0, 0, 0.1);
	margin: 40px 0;

	.search-icon{
		font-size: 25px;
		padding: 0 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $secondary-text;
	}
}

.searchBox {
	width: 100%;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	background:  rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 600px) {
	.searchBox input {
		font-size: 15px;
	}
}