@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes swell_container{
    0%{
      width: $start_width;
      height: $start_width;
    }
    50%{
      width: $end_width;
      height: $end_width;
    }
  }
  
  @keyframes swell_circle{
    0%{
      width: calc(33% - 10px);
      height: calc(33% - 10px);
    }
    25%{
      width: calc(33% - 7px);
      height: calc(33% - 7px);
    }
    50%{
      width: calc(33% - 10px);
      height: calc(33% - 10px);
    }
  }